@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
